html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,  
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,  
tfoot, thead, tr, th, td {  
border:0px none;   
margin:0;  
padding:0; 
font-family:inherit;  
font-size:100%;  
font-style:inherit;  
font-weight:inherit;  
} 

html, body,iframe {
	height:100%;
	width:100%;
}

* {
margin:0px;
padding:0px;
}

blockquote:before, blockquote:after, q:before, q:after {  
content:"";  
}  

blockquote, q {  
quotes:"" "";  
}  

a{  
cursor: pointer;  
text-decoration:none;  
border-style:none;
color: #2E55C8;
} 

body { 
	background:#fff none repeat scroll 0%; 
	font: 16px  helvetica, verdana,arial,sans-serif;
	font-style:normal;
	color:black;
	margin:0px;
	padding:0px;
	border-style:none;
}

div#all {
	min-width:600px;
}

div#nopagefound {
	padding:100px;
}

a:hover {
	text-decoration:underline;
}

img{
	border:none;
}

input,textarea {
	background:#ffffff;
	padding:0.3em 0;
	font: 16px  "Lucida Grande",helvetica, verdana,arial,sans-serif;
	color:black;
	margin:0.5em 0;
	text-align:left;
}


td, dt{
	text-align:left;
	vertical-align:middle;
}

label {
	padding:0 5px 0 0;
	margin:0.3em 0;
	color:black;
	font-style:normal;
	font-size:18px;
	text-align:right;
	float:right;
}

label.remember {
	font-size:14px;
	float:none;
	vertical-align:middle;
}

div#header{
	width:100%;
	height:40px;
	background-color:#fff;
}
div#content{
	clear:both;
	height:600px;
	width:1000px;
	margin:0 auto;
}

div#footer{
	clear:both;
	max-width:900px;
	vertical-align:middle;
	text-align:center;
	padding:50px 50px 10px 50px;
	min-height:60px;
	font-size:12px;
	color:#858585;
	}

div#leftcolumn {
width:500px;
float:left;
}

div#rightcolumn {
width:450px;
float:left;

}

div#moto {
font-size:19px;
padding:50px 20px;
}

div#moto p {
padding:10px;
}

div.clearfloats {clear:both;}

.main_logo{
	background-color:#fff;
	padding:2px 5px;
	float:left;
}

.tabbed_content {
	margin-top:90px;
}

.permalink_page {
	height:400px;
	background-color:#9CCFEB;
	padding:30px;
}

.permalink_box {
	background-color:#fff;
	padding:20px;

}

.permalink_box .link_title a {
	text-decoration:underline;
}

.hidden_params{
	display:none;
}

.error_msg {
	font-size:15px;
	color:red;
	margin:10px 20px 0px 40px;
	font-weight:bold;
}

a.cancel_button{
	margin:0.7em;
	font-size:15px;
	display:inline;
}

input[type="radio"] {
	margin:0em 0.5em;
	vertical-align:center;
}

input[type="checkbox"] {
	margin:0.4em;
	padding:0;
	float:none;
	vertical-align:center;
}

.ask_signup {
	margin: 30px 10px 10px 40px;
}

#header_account_box {
	float:right;
	padding:10px;
	font-size:15px;
	color:#000;
	background-color:#fff;
}

.radio_buttons {
 padding:0.5em;
 }

input.submit {
	margin:1em;
	margin-left:50px;
}

div.choices {
	font-size:0.8em;
	display:block;
}

form.full_page {
	background:#CCE0FF;
}

form.full_page fieldset{
	padding:15px;
	font-size:15px;

}

legend {
	font-size: 24px;
	padding:0px 10px;
}

.blue_background {
	background:#CCE0FF;
}

.button {
	color:#ffffff;
	background-color: 	#0047B2;
	text-decoration:none;
	color:white;
	border:none;
	font-weight:bold;
	padding:0.7em 0.8em;
	text-align:center;
	display:inline;
}

.button.login {
	margin:10px 20px;
}

a.button:hover{
	text-decoration:none;
}

form {
padding:18px;
}

form.terminate_acc  {
	font-size:15px;
}

form p {
	clear:both;
}

.logout_link {
	float:left;
	margin-left:50px;
}

form fieldset table {
	margin:15px;
	text-align:center;
	width:auto;
}

form .captcha {
	margin:10px 0;
}
form .captcha .captcha_desc {
	font-size:15px;
	font-weight:bold;
	margin:0.5em;
}


.userpage_name {
	font-weight:bold;
	color:#000;
	padding:0px;
	margin:0 5px 0 0;
	border:none;
}

.no_link_msg {
	margin-left:60px;
	margin-top:20px;
	color:#858585;
	font-size:16px;
}

.pages{
	padding:10px;
	margin-left:10px;
	font-size:14px;
}

a.prev_page_link{
	margin-right:30px;
}
.separator {
	color: #D3D3D3;
}

.link_list {
	width:100%;
	margin:0 0 0 10px;
}

.link_title a {
	font-size:16px;
}

.link_title a:visited {
	color:#8EA9EE;
}
.link_score_legend {
	font-size:11px;
	color: #858585;
	padding:4px 5px 5px 10px;
}

.permalink_page .link_desc {
	padding:5px;
}

.link_desc {
	font-size:11px;
	color: #AAAAAA;
	float:left;
}

.link_desc .domain {
	color: #858585;
}

.link_desc a {
	color:#2293CF;
}

.link_rank {
	color: #B9CFE8;
	font-weight:bold;
	padding:5px;
	float:left;
	vertical-align:middle;
	text-align:center;
	width:2em;
}

.link_title_desc {
	padding:0.5em 0 1.2em 0;
}

.link_title {
	max-width:800px;
	font-size:18px;
	white-space: pre-wrap; 
}

.vote_icons { 
	margin: 0px 10px;
	display:block;
	width:54px;
}
.vote_icon {
	display:inline;
	margin:0px 2px;
}

