html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,  
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,  
tfoot, thead, tr, th, td {  
border:0px none;   
margin:0;  
padding:0; 
font-family:inherit;  
font-size:100%;  
font-style:inherit;  
font-weight:inherit;  
} 


* {
margin:0px;
padding:0px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html {
	overflow: auto;
	height:100%;
}

blockquote:before, blockquote:after, q:before, q:after {  
content:"";  
}  

blockquote, q {  
quotes:"" "";  
}  

a{  
cursor: pointer;  
text-decoration:none;  
border-style:none;
color: #328ED9;
text-decoration: none;
font-weight: bold;
} 

body { 
	background:#fff none repeat scroll 0%; 
	font: 13px  "Lucida Grande", helvetica, verdana,arial,sans-serif;
	font-style:normal;
	color:black;
	margin:0px;
	padding:0px;
	width: 100%;
	height: 100%;
	border-style:none;
}

div#header{
	height:39px;
	/*background-color:#E9EEF7;*/
	padding: 2px;
	border-bottom: 1px;
	border-bottom-color: #E9EEF7;
	border-bottom-style: solid;
	vertical-align: middle;
}

#main{
	margin:0 auto;
	padding: 0;
	text-align: left;
	overflow: auto;
	position: relative;
	display: inline-table;
	width: 1100px;
}

.clearfloats{
	clear:both;
}

#footer{
	clear:both;
	text-align:center;
	font-size:13px;
	padding-top: 80px;
	padding-bottom: 20px;
	color:#858585;
	min-height:90px;
	width: 900px;
	display: block;
	margin:0;
}

.landing_page #leftcolumn {
width:600px;
float:left;
min-height:500px;
padding: 0;
}

.landing_page #rightcolumn {
width:400px;
padding-left: 15px;
float:left;
padding: 0;
}

div#moto {
padding-left: 20px;
padding-top: 10px;
float: left;
vertical-align: middle;
font-size: 14px;
font-style: bold;
}

#leftcolumn {
width:200px;
float:left;
min-height:400px;
padding: 10px;
border-right: 1px solid #DADADA;
text-align: left;
margin: 0;
display: block;
}

.post_text{
	padding: 10px;
}


#bottom {
	clear:both;
	vertical-align:middle;
	text-align:center;
	width: 800px;
	display: block;
}


#centercolumn {
width:700px;
margin-left: 200px;
min-height: 600px;
text-align: center;
}

#profile_center{
	width: 600px;
	margin-left: 310px;
	text-align: center;
	padding: 20px;
}

#rightcolumn {
overflow: auto;
margin: 0 auto;
display: table;
padding: 15px;
float: left;
}


#rightcolumn.project {
	width: 700px;
	background-color: #F6F6F6;
}

#leftcolumn.two_col_layout {
	width: 500px;
	padding: 0;
	margin: 0;
}

#rightcolumn.two_col_layout {
	min-width: 400px;
	min-height: 300px;
	margin-left: 500px;
	position: absolute;
}

img.project_pic{
	padding: 10px;
	float:left;
}

.label {
	font-weight: bold;
}

#logo{
	float:left;
	margin: 0;
	margin-top: 2px;
	margin-left: 2px;
	padding: 0;
}
table.projects {
	width: 700px;
	font-size: 14px;
	text-align: left;
	border: none;
}

table.projects tr {
	background-color: #F6F6F6;
	border-bottom: 2px solid white;
		height: 120px; 
}

table.projects tr td {
	border-top: 2px solid white;
	border-left: 2px solid white;
}

table.projects tr td:not(.project_name){
	padding:0 15px;
}


table.projects td.project_name {
	text-align: center;
	position: relative;
	width: 200px;
	padding: 0;
}

.project_name h1 ,.project_name h2  {
	position: absolute;
	font-weight: bold;
	z-index: 5;
	width: 100%;
	text-align: center;
	top:40px;
}


#back_pic_container h1 {
	top:80px;
}

h2 {
	font-size: 1.2em;
	float:left;
}

h1 {
	font-size: 3em;
}


.with_pic {
	color: white;
	
/*	background-color: #B0E2FF;
	 background: rgba(0, 0, 0, 0.3);*/
}


div#nopagefound {
	padding:100px;
}

div#projlog_purpose {
	padding: 60px;
	font-size: 16px;
	background-image:url(/static/beach3.JPG);
	background-repeat: no-repeat;
	height: 600px;

}

div#projlog_purpose ul {
	list-style-type: square;
	list-style-position: inside;
}

div#login_box {
	margin-top: 50px;
	min-width: 1000px;
	height: 600px;
}

ul.my_projects {
	border-top: 1px solid gray;
	padding: 20px 0;
	margin-top: 10px;
}

li.project_list{
	padding: 0.6em;
	width: auto;
}

#preview_img{
	width: 280px;
	padding:15px;
	height: auto;
	text-align: center;
	clear:both;
	float: left;
}

ul , dl{
	list-style-type: none;
	display: block;
}

img{
	border:none;
}

input,textarea, select  {
	background:#ffffff;
	padding:0.5em;
	color:black;
	text-align:left;
	font-size:1em;
	border: none;
	outline: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	clear:none;
	border-style:solid;
	border-width:1px;
	border-color:#0066CC;
	float:left;
	text-align: left;
}

form label {
	padding-right: 0.5em;
	padding-top: 0.5em;
	float: left;
	font-size: 1em;
	text-align:right;
	font-weight: normal;
	vertical-align: middle;
	min-width: 140px;
	text-align: right;

}


label.remember {
	font-size:14px;
	float:none;
	vertical-align:middle;
}


.button {
	color:#ffffff;
	background-color: #328ED9;
	text-decoration:none;
	font-family: Helvetica;
	font-weight:normal;
	font-size: 1em;
	color:white;
	padding: 0.5em 0.7em;
	margin:0.5em 0.8em;
	clear:none;
	display: inline-block; 
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-khtml-border-radius: 0.3em;
	border-bottom-style:1px solid black;
	border-left-style: none;
	border-top: 1px solid #99ADEB;
	border-right-style: none;
}

.button_disabled {
	background-color: white;
	color: #328ED9;
	border:1px solid #328ED9;
}

div.comment a.button {
	font-size: 0.8em;
}

form {
	padding: 10px;
	margin:10px;
	border-style: none;
	margin: 0;
	display: block;
}


form.front_page {
	background-color:#EDF0FA;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	font-size: 1.3em;
}

@media print {
  input, textarea {overflow:visible;}}


select {
	height: 2.5em;
}

div.single_form_page {
	text-align: center;
	width: 100%;  
}


form fieldset{
	width:100%;
	display: inline;
	text-align: center;

}

form.full_page {
	width:1000px;
	padding: 0;
}

form.full_page ul {
	width: 500px;
}

form.full_page ul li input {
	width: 20em;
}

form input {
	/*width: 20em;*/
}

form.full_page textarea {
	width: 24em;
	height: 6em;
}

legend{
	color:#000;
	font-size:1.2em;
	padding: 1.8em;
}

form.post_status {
	padding: 20px;
}

form.post_status textarea{
	width: 33em;
	height: 3em;
	display: block;
}

form.post_status.full_page textarea{
	width: 40em;
	height: 5em;
	display: block;
	clear: both;
	margin: 1em;
}

form.post_status div.inputWrapper {
	clear:both;
	font-weight: bold;
color: #328ED9;;
}


form.post_status input[type="submit"]{
margin-left: 220px;
float: left;
margin-top: 5px;
}

.profile_summary{
	font-style: bold;
	padding: 10px;
}

div.post {
	position: relative;
	float:left;
	clear: both;
	padding: 10px;
	padding-bottom: 5px;
	background-color: white;
	border:1px solid #CCCCCC;
	width: 100%;
}

.post_container {
	margin-bottom: 20px;
	width: 100%;
}


.comment_box {
	margin-left: 1em;
	background-color: white;
	display: inline-block;
}

div.comment {
	display:inline-block;
	width:400px;
	clear:both;
	float: left;
	padding: 0.5em;
}

#leftcolumn ul li {
	 overflow: auto;
	 text-align: left;
	 clear: both;
	 display: block;
}

#picture_button {
	width: 8em;
	background-color: #009999;
}

#background_pic {
	height: 400px;
	width: 600px;
	margin: 0;
	padding: 0;
}

#project_page_name{
	position: absolute;
	font-weight: bold;
	font-size: 30px;
	width: 600px;
	text-align: center;
	top: 150px; 
	left: 250px;
	z-index: 5;
	color: white;
}

#proj_back_pic {
	position: absolute;
	left: 150px;
	width: 800px;
	height: 225px;
	margin:10px;
	z-index: 2;
	color: white;
	background-color:#CCE0FF;
}


#back_pic_container{
	width: 100%;
	height: 250px;
	overflow: auto;
	z-index: -1;
}


#leftcolumn.project {
	width: 280px;
	text-align: center;
	font-size: 1em;
	clear: both;
	background-color: white;
}

#proj_content{
	width: 100%;
	display: block;
}


#preview {
	clear:both;
}

#large_pic {
	margin: 30px 80px;

}

#edit_picture {
	padding-left: 30px;
	float: left;
}

form.post_status #edit_picture {
	clear:both;
	float: left;

}

form ul {
	padding: 0.7em;
}

ul li {
	border-style: none;
	list-style: none;
	list-style-type: none;
	padding: 0.3em;
	vertical-align:middle;
	clear:both;
	overflow: auto;
	margin-top: 0.4em;
	/*background-color: red;*/
}

#nav ul li {
	padding: 0;
	margin:0;
	clear:none;
	overflow: visible;
}

img.tiny {
	height: 70px;
	width: 70px;
}

.user_display {
	width: 120px;
	text-align: center;
	float: left;
}


.user_thumbnail {
	float:left;
	display: inline-block;
	height: 35px;
	margin: 5px;
}

.thumbnail_label {
	/*margin-right: 5px;*/
}

.date {
	font-size: 0.8em;
	color: #B8B8B8;
}

.comment_text {
	width: 350px;
	margin: 5px;
}

.post img.thumbnail {
	float: left;
}

span.label {
	float: left;
	margin-top: 
}

form ul.errors {
		float:left;
		font-size: 0.9em;
}

form ul.errors li {
	padding: 5px;
	color:red;
}

#select_project {
	display: block;
	height: 2em;
	width: 400px;
	position: relative;
	float: left;
	text-align: left;
	margin:10px;
	padding: 5px;
}

#post_project {
	display: inline;
	float: left;
}

a.new_post {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 250px;
}

input#signup_button {
	font-size:18px;
	margin-top:20px;
	padding:10px 15px;
	background-color:#4CB083;
	border-width: 1px;
	border-style: solid;
	border-color:#0A4230;
}

.create_post {
	font-size: 1em;
}

.news_feed {
	text-align: left;
	width: 700px;
	height: 100%;
	display: inline-block;
	padding: 15px;
}

.new_comment {
	display: none;
}

input[type="radio"] {
	float: left;
	margin-right:5px;
}

input[type="checkbox"] {
	float:left;
	background-color:#0047B2;
	text-decoration:none;
	color:white;
	border:none;
	font-weight:bold;
	padding:0.7em 0.8em;
	text-align:left;
	margin-left:20px;
	margin-top: 10px;
}

form textarea {
	height: 6em;
	width: 20em;
}

form.project input[type="text"]{
	width: 25em;
}

form.project textarea {
	height: 7em;
	width: 25em;
}

form.project textarea#goal {
	width: 25em;
	height: 3em;
}

input.file-browser , .filename{
	float:left;
	margin:  0 ;

}

input[type="file"] {
	/*display: none;*/
}

#leftcolumn.project ul li {
	border-top: 2px solid #F6F6F6;
}

.fileInput{
    cursor: pointer;
    height: 100%;
    width: 90px;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 9;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}


.inputWrapper {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    float: left;
    margin: 10px;
    z-index: 7;
}

.bold {
	font-weight: bold;
}
.post_header {
	display: block;
	height: 30px;
}

.comment_link {
	font-size: 0.8em;
}
.post_content {
	margin-top: 10px;
	min-height: 1.5em;
	padding: 1em 0.3em;
}

img.post {
	max-width: 640px;
	padding-top:0.6em;
}

ul.leftbar {
	padding: 10px;
}

ul.leftbar li {
	padding:0.5em;
}

.blue_background {
	background:#CCE0FF;
}

#profile_summary{
width:280px;
float:left;
min-height:500px;
padding: 10px;
text-align: center;
margin: 0;
border: none;
margin:10px;
background-color: #F3F8FB;
}

#profile_pic {
	margin-bottom: 10px;
}

#profile_details{
	text-align: left;
}

.filename {
	float: left;
	clear:none;
	padding: 4px;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

a.edit_link {
	font-size: 1.1em;
	text-align: center;
	width: 100%;
	padding-left: 80px;
}

input.button.login {
	clear:both;
	margin-left:120px;
	margin-bottom: 10px;
}

a.button:hover{
	text-decoration:none;
}


div.clearfloats {clear:both;}


#profile_details {
	padding: 10px;
}

#profile_details li {
line-height: 18px;
width: 100%;
text-align: left;
vertical-align: middle;
font-size: 1.1em;
}

#user_profile_name{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}

.page_title {
	width: 100%;
	font-size: 15px;
	padding-bottom: 10px;
}

.notif_flag{
	width:20px;
	height:20px;
	background-color: #B3C0CC;
	color: #fff;
	padding:0px;
	margin: 0px;
/*	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px;*/
	text-align: center;
	vertical-align: middle;
	display: block;
	line-height: 20px;
}

#notif_flag span {
	display:inline-block;
	vertical-align: middle;
}


#nav{
	font-weight: bold;
	height:20px;
	padding: 5px;
	vertical-align: middle;
	z-index: 10;
}

#nav ul.dropdown  {
margin-top: 0;
vertical-align: middle;
position: absolute;
z-index: 10;
font-size: 12px;
font-weight: normal;
}

#notif_dropdown .sfhover {
	height: 800px;
	background-color: blue;
}

fieldset{
	width: 800px;
}

#nav ul.dropdown li {
	float:left;
	display:block;
	background-color: #E0F0FF;
	color: black;
	border: 1px solid #B3C0CC;
	height: 30px;
	vertical-align: middle;
}

#nav ul.dropdown li a {
	width: 100%;
	display: block;
	text-decoration: none;
	height: 30px;
	vertical-align: middle;
	line-height: 30px;
}
#nav ul.dropdown li a span{
	display: block;
	padding-left: 8px;
	padding-right: 8px;
}


div#toolbar {
	margin-right: 20px;
	vertical-align: middle;
	float:right;
	font-size: 12px;
	height: 350px;
	margin-bottom: -350px;
}

#nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	vertical-align: middle;
}


#nav li {
	padding-right: 15px;
	float: left;
	list-style: none;
	height: 20px;
	vertical-align: middle;
	padding-top: 3px;
	margin:0;
	clear:none;
	overflow: visible;
}

#nav li ul {
	position: absolute;
	left: -999em;
}

#nav li:hover ul, 
#nav li.sfhover ul {
	left: auto;
}

.float_left {
	float:left;
}

form.full_page .submit_cancel_buttons {
	width:200px;
	padding:20px;
	margin-left:400px;
	height: 35px;
}

.submit_cancel_buttons input {
	text-align: left;
	display:block;
}


.tabbed_content {
	margin-top:90px;
}

.permalink_page {
	height:400px;
	background-color:#9CCFEB;
	padding:30px;
}

.permalink_box {
	background-color:#fff;
	padding:20px;

}

.permalink_box .link_title a {
	text-decoration:underline;
}

.hidden_params{
	display:none;
}


a.cancel_button{
	padding:0.7em;
	text-align: right;
	display: inline;
	float: right;
}

.small_padding{
	padding: 10px;
}


.ask_signup {
	margin: 30px 10px 10px 40px;
}

.radio_buttons {
 padding:0.5em;
 }

div.choices {
	font-size:0.8em;
	display:block;
}

.thumbnail {
height: 35px;
margin: 7px;
}

.comment_box .thumbnail{
	margin: 5px 0px 5px 10px;
}

.thumbnail .user_name {
	display: block;
	text-align: center;
}

.med_padding_top{
	padding-top:30px;

}

.tiny_pic {
	height: 70px;
	width: 70px;
}

.userpage_name {
	font-weight:bold;
	color:#000;
	padding:0px;
	margin:0 5px 0 0;
	border:none;
}

.no_link_msg {
	margin-left:60px;
	margin-top:20px;
	color:#858585;
	font-size:16px;
}

.pages{
	padding:10px;
	margin-left:10px;
	font-size:14px;
}

a.prev_page_link{
	margin-right:30px;
}
.separator {
	color: #D3D3D3;
}

.vote_icons { 
	margin: 0px 10px;
	display:block;
	width:54px;
}
.vote_icon {
	display:inline;
	margin:0px 2px;
}

.clearfix:after {
clear: both;
content: ".";
display: block;
font-size: 0;
height: 0;
line-height: 0;
visibility: hidden;
}

