    {% from "_display_pic_input.html" import render_pic_input %}
{% macro display_post_form(project_id) %}

 <form class="post_status" action="" method="post" enctype=multipart/form-data  name="post_status" >
    <fieldset>
    	  
    <input type="hidden" name="project_id" id="project_id" value="{{project_id}}" />
 <textarea id="status" name="status"></textarea>
  <div class="inputWrapper" id="add_picture"> Add Picture
       <input id="picture" name="picture" type="file" class="fileInput" onchange="readURL(this);" /> 
     </div>
  <input type="submit" value="Update Status" class="button"/>
 </fieldset>
      </form>

   
{% endmacro %}