<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="Projlog"/>
    	<meta name="keywords" content="project tracker, personal project, project log, project blog, goal tracker, side project, hobby, goal setting"/>
    	<meta name="csrf-token" content="{{ csrf_token() }}">
    	<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" type="text/css"/>
		<title> {% block title %} Projlog {% endblock title %} </title>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" >
		var csrftoken = $('meta[name=csrf-token]').attr('content');
			$(document).ajaxSend(function(event, jqxhr, settings) {
        		if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            jqxhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
		});</script>
	<script type="text/javascript" src="{{ url_for('static', filename='base.js') }}" ></script>
		{% block javascript %}   {% endblock javascript %}
	</head>

	<body> 
	
<div id="header">
  <a id="logo"  class="toolbar_link" href="/"><img src="{{config.LOGO_URL}}" /></a> 
 <div id="moto" > A Project Log For All Projects </div>

 {% if current_user.username %} 


	 <div id="toolbar">
	 		
	 		<ul id="nav">

		{% if current_user.has_notifications() > 0 %}
		 	<li > 
		 		<a href="#" id="notif_flag" >
		 	<span>{{ current_user.notification_count() }}</span>
		 		</a>
			 	<ul id="notif_dropdown" class="dropdown">
				 	{% for notif in current_user.get_notifications() %}
				 		<li >
				 			<a href="{{notif.link}}" onclick="viewNotification()"><span>{{notif.message}}</span></a>
				 		</li>

			 		{% endfor %}
				 </ul>
			</li>
	 	{% endif %}

		 <li><a href="/"> home </a></li>
		<li><a  href="{{current_user.get_profile_url()}}"> {{current_user.username}}</a></li>
		<li><a  href="/edit_profile"> settings </a></li>
		<li><a href="/logout"> logout </a></li>
	</ul>

	</div>

	{% endif %}

</div>
<div id="main">
	{% block content %} {% endblock content %}
		<div id="footer">
		{% block footer %}  &#169; 2013 Projlog
		{% endblock footer%}
	</div>
</div>


	</body>
</html>