{% extends "base.html" %}
{% from "_form_macro.html" import render_field %}


{% block content %}

<div id="main" class="single_form_page" >

    <form id="create_project" action="/create_project" method="post" name="create_project" >
  {{form.hidden_tag()}}
     <fieldset id="signup">
	<div class="error_msg">
		{{ error_msg }}
	</div>
	<ul>
{{render_field(form.project_name)}}
<li>
  <label for="goal">Project Goal</label>
 <input id="goal" name="goal" type="text" value="" tabindex="2" size="60"/>
   {% if form.goal.errors %}
    <ul class='errors'>
    {% for error in form.goal.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
</li>
	{{ render_field(form.privacy) }}

<li>
  <label for="comments">Comments</label>
 <input id="comments" name="comments" type="textarea" value="" tabindex="4" size="60" height=3 />
    {% if form.comments.errors %}
    <ul class='errors'>
    {% for error in form.comments.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
</li>
	</ul>
  <div class="submit_cancel_buttons">
  <input type="submit" value="Create Project" class="button" />
 <div > <a class="cancel_button" href="{{previous_page}}">Cancel</a>
</div>
 </fieldset>
  </form>
</div>
   
  
{% endblock %}