{% extends "base.html" %}
{% from "_form_macro.html" import render_field %}


{% block content %}

<div id="main" class="single_form_page" >

    <form id="signup" action="/signup" method="post" name="signup" >
  {{signup_form.hidden_tag()}}
     <fieldset id="signup">
	<div class="error_msg">
		{{ error_msg }}
	</div>
	<ul>
   {{ render_field(form.project_name) }}
   {{ render_field(form.goal) }}
	{{ render_field(form.privacy) }}
	{{ render_field(form.comments }}
	</ul>
  <input type="submit" value="create_project" class="button"/>
  <a class="cancel_button" href="{{previous_page}}">Cancel</a>
 </fieldset>
  </form>
</div>
   
  
{% endblock %}