{% extends "base.html" %}
  {% from "_form_macro.html" import render_field %}
    {% from "_display_pic_input.html" import render_pic_input %}



{% block content %}

    <form action="/edit_profile" method="post" name="edit_profile" enctype=multipart/form-data class="full_page" >
  {{form.hidden_tag()}} 
       <fieldset>
    <legend > Edit Profile </legend>
  <div id="leftcolumn" class="two_col_layout">
    <ul>

        {{ render_field(form.username) }}
        {{ render_field(form.privacy) }}
   {{ render_field(form.first_name) }}
  {{ render_field(form.last_name) }}
    {{ render_field(form.gender) }}
  {{ render_field(form.location) }}
    {{ render_field(form.about) }}
  </ul>
</div>
<div id="rightcolumn" class="two_col_layout">
{{ render_pic_input(profile_pic_url, "Change Profile Picture")}}
</div>
</fieldset>
<div id="bottom">
  <div class="submit_cancel_buttons">
      <input type="submit" value="Save" class="button"/>
    {% if status == 'first' %}
   <a class="cancel_button" href="url_for(create_project)" >Skip</a>
   {% else %}
  <a class="cancel_button" href="{{previous_page}}">Cancel</a>
  {% endif %}
  </div>

</div>

  </form>
  
{% endblock %}