{% extends "base.html" %}

{% block javascript %}

<script type="text/javascript" src="https://raw.github.com/lodash/lodash/master/dist/lodash.min.js"></script>
<script type="text/javascript" src="/static/s3upload.js"></script>

<script type="text/javascript">

$(window).load(function () {
    var intervalFunc = function () {
        $('#file-name').html('File loaded');
    };
    $('#browse-profile-pic').on('click', function () { // use .live() for older versions of jQuery
        $('#profile_pic').click();
        setInterval(intervalFunc, 1);
        return false;
    });
});

function s3_upload(){
    var s3upload = new S3Upload({
        file_dom_selector: 'profile_pic',
        s3_sign_put_url: '/sign_s3_upload/',

        onProgress: function(percent, message) {
            $('#status').html('Upload progress: ' + percent + '%' + message);
        },
        onFinishS3Put: function(url) {
            $('#status').html('Upload completed');
            $("#file_upload_url").val(url);
            $("#preview_profile_pic").html('<img id="preview_img" src="'+url+'"/>');
        },
        onError: function(status) {
          console.log()
            $('#status').html('Upload error: ' + status);
        }
    });
}

</script>
{% endblock javascript %}

{% block content %}


    {% from "_form_macro.html" import render_field %}



    <form action="/edit_profile" method="post" name="edit_profile" enctype=multipart/form-data>
  {{form.hidden_tag()}}
       <fieldset>
    <legend > Edit Profile </legend>
  <ul>

    <li> 
<label for="profile_pic" >Profile Picture</label>
     <input id="profile_pic" name="profile_pic" type="file" onchange="s3_upload();"/>
<input type="hidden" id="file_upload_url" name="file_upload_url" value="{{profile_pic_url}}" />
<input type="hidden" id="file_name" value="{{file_name}}" />
  <input id="browse-profile-pic" type="button" class="button file-browser" value="Browse for files"/>
  <div id="preview_profile_pic"><img id="preview_img" src="{{profile_pic_url}}" /></div>
  <p id="status" class="filename"></p>
    </li>

        {{ render_field(form.username) }}
   {{ render_field(form.first_name) }}
  {{ render_field(form.last_name) }}
	{{ render_field(form.location) }}
  </ul>
  <div class="save_cancel_box">
    <input type="submit" value="Save" class="button"/>
  {% if status == 'first' %}
 <a class="cancel_button" href="url_for(create_project)" >Skip</a>
 {% else %}
<a class="cancel_button" href="{{previous_page}}">Cancel</a>
{% endif %}

</div>

</fieldset>
  </form>
  
{% endblock %}