{% extends "base.html" %}
 {% from "_display_user_macro.html" import display_user %}



{% block content %}

<div id="centercolumn">

<table>

	{% for request in friend_requests %}
	<tr>
		<td>
			{{ display_user(request.requester) }}
		</td>
		<td>
			sent you a Friend Request
		</td>
		<td>
				<a  class="button" id="accept_{{request.requester.id}}" onclick="approveFriendRequest(this, true, {{request.requester.id}}, {{current_user.id}});"  >
				Accept
			</a>
		</td>
		<td>
				<a class="button"  id="ignore_{{request.requester.id}}" onclick="approveFriendRequest(this, false, {{request.requester.id}}, {{current_user.id}});" >
				Ignore
			</a>
		</td>
	</tr>
	{% endfor %}
</table>
</div>


{% endblock content %}