{% extends "base.html" %}

{% from "_form_macro.html" import render_field %}

{% block content %}

<div id="main" >
  <div id="leftcolumn" >
    <ul class="leftbar">
      <li>
  	<a href="/create_project" id="create_project">Create Project</a>
  		</li>
  			<li>
  				<a  href="/my_friends"> Friends </a>
  			</li>
  			<li>
  				My Projects
  			</li>
  			{% for project in projects %}
  			   <li class="project_list">
            <a href="{{project.get_url()}}"> {{project.project_name}} </a>
  			   </li>
  			{% endfor %}

</ul>
  </div>

  <div id="centercolumn">

  {% block center_column %}

  {% endblock %}

  </div>


  <div id="rightcolumn">

  </div>
 </div>


{% endblock %}