{% extends "base.html" %}
  {% from "_form_macro.html" import render_field %}
{% block content %}


<div id="main" class="landing_page">
  <div id="leftcolumn" >
    <div id="projlog_purpose">

    <p> Wasting too much time online and not spending enough time following your goals and aspirations? <span style="color:white;"> Start a project and projlog it. </span></p>

</div>
</div>

  <div id="rightcolumn">


  <form action="/login" method="post" name="login" class="login">
  {{login_form.hidden_tag()}}
<fieldset>
    <legend > Log In </legend>
    
  <ul>
   {{ render_field(login_form.username) }}
  {{ render_field(login_form.password) }}
 
 <li> 
<label for="remember_me">Remember Me</label>
 <input id="remember_me" name="remember_me" type="checkbox" value="y" checked />
  
  </li>

  </ul>
  <input type="submit" value="Log In" class="button frontpage" />
    </fieldset>
  </form>

{% include 'signup_form.html' %}

  </div>
</div>



{% endblock content %}