{% extends "base.html" %}

{% block content %}
<div id="main">
  <div id="login_box" class="single_form_page" >
  {% from "_form_macro.html" import render_field %}

  <form action="/login" method="post" name="login" class="login">
  {{login_form.hidden_tag()}}
<fieldset>
    <legend > Log In </legend>
    
  <ul>
   {{ render_field(login_form.email) }}
  {{ render_field(login_form.password) }}
  {{ render_field(login_form.remember_me) }}
  </ul>
    </fieldset>
      <input type="submit" value="Log In" class="button login" />
  </form>

  </div>
  </div>
{% endblock %}