{% extends "base.html" %}

{% block content %}
<div id="main">
  <div id="login_box" class="single_form_page" >
  {% from "_form_macro.html" import render_field %}

  <form action="/login" method="post" name="login" class="login front_page">
  {{login_form.hidden_tag()}}
<fieldset>
    <legend > Log In </legend>
    
  <ul>
   {{ render_field(login_form.username) }}
  {{ render_field(login_form.password) }}
<li>
    <input type="checkbox" id="remember_me" name="_remember_me" checked />
    <label for="remember_me">Keep me logged in</label>
  </li>

<li>
      <input type="submit" value="Log In" class="button login" />
    </li>
  </ul>
      
    </fieldset>
  </form>

  </div>
  </div>
{% endblock %}