{% extends "index.html" %}

{% from "_form_macro.html" import render_field %}

{% block center_column %}

    <div id="create_post">

      {% if projects %}
      <form action = "{{root_url}}/post" >
        <table>
          <tr>
            <td>
      <input id="create_post " type="submit" value="New Post" class="button" /> 
    </td>
    <td>  
    for project: &nbsp;
    </td>
    <td>
        <select name="projects">
            {% for project in projects %}
            <option value="{{project.id}}">{{project.project_name}}</option>
            {% endfor %}
        </select>
      </td>
    </tr>
  </table>
      </form>
      {% else %}

        You have not created a project yet. <a href="/create_project" class="button center"> Create Project  </a>

      {% endif %}


    </div>


    {% for feed_post in feed_list %}
    <div class="feed_item">
      <div class="story_header">
      <img class="thumbnail"  url="{{ feed_post.author.get_profile_pic_url() }}"/>
      <div class="post_user"> {{feed_post.author.username}} </div>
      <div class="post_text">  {{feed_post.txt}} </div>
      {% if feed_post.pic_id %}
      <div class="post_pic">  <img src="{{ feed_post.get_pic_url() }}" /> </div>
      {% endif %}

    </div>
    {% endfor %}

  </div>


{% endblock %}