{% extends "index.html" %}
{% from "_form_macro.html" import render_field %}
 {% from "_display_post_macro.html" import display_post %}

 {% block javascript %}


 {% endblock %}

{% block center_column %}

    <div class="create_post">

        {% if not projects %}
          You have not created a project yet. <a href="/create_project" class="button center"> Create New Project  </a>
          {% else %}

        <a id="create_post" class="button" href="/post" /> + New Post</a>

        {% endif %}
    </div>
      <div class="news_feed">
      {% if posts.count() == 0 %}
      <div style="text-align:left;padding-left:50px;padding-top:40px;">  Add friends to see their project updates </div>
      {% else %}
        {% for feed_post in posts %}
          {{ display_post(feed_post, current_user, show_project_name=True) }}
        {% endfor %}
      {% endif %}
      </div>

    {% if next_page %}
      <div class="more_posts">
            {% if last_page %}
              <a href="/?page={{last_page}}" class="page_direction">Last Posts </a>
            {% endif %}
        <a href="/?page={{next_page}}" class="page_direction"> Next Posts </a>
      </div>
    {% endif %}




{% endblock %}