{% extends "index.html" %}
  {% from "_form_macro.html" import render_field %}

{% block center_column %}
       <form class="post_status full_page" action="/post" method="post" enctype=multipart/form-data  name="post_status" >
    <fieldset>

        {{form.hidden_tag()}} 
<ul>
  <li>
      <label for="project_id"> Project: </label>
          <select name="project_id" id="project_id" >
              {% for project in projects %}
              <option value="{{project.id}}">{{project.project_name}}</option>
              {% endfor %}
          </select>
        </li>

         {{ render_field(form.post_text) }} 
</li>
</ul>
  <div class="inputWrapper" id="add_picture"> Add Picture
       <input id="picture" name="picture" type="file" class="fileInput" onchange="readURL(this);" /> 
     </div>

  <input type="submit" value="Update Status" class="button"/>


   <img id="preview_img" src="" />

 </fieldset>
      </form>

{% endblock %}