
{% extends "base.html" %}
 {% from "_display_user_macro.html" import display_user %}

{% block content %}


<div id="background_pic">
	<img  src="{{ project.get_pic_url }}" />
	<div id="project_page_name">Project {{project.name}} </div>
	{% if project.created_by == logged_user  %}
	<a href="{{request.base_url}}?edit=back_pic" id="update_prof_pic">Update Background Picture </a>
	{% endif %}
</div>


<div id="proj_goal">
Goal:	{{project.goal}}
</div>

<div class="created_by">
	{{ display_user( project.created_by ) }}
</div>
{% if logged_user == creator %}
<a class="project_edit_box" href="{{project.get_edit_url}}">Edit Project</a>
{% endif %}

<div class="posts">
{% for post in posts %}
<div class="post">
	{{ display_user( post.created_by) }}
	<div class="post_text">
		<div class="date">{{post.get_created_date_text()}}</div>
		{{post.text}}
	</div>
</div>
{% endfor %}
</div>



{% endblock content %}