
{% extends "base.html" %}
 {% from "_display_user_macro.html" import display_user %}
 {% from "_display_post_macro.html" import display_post %}

{% block content %}


<div id="background_pic">
	<img id="proj_back_pic" src="{{ project.get_pic_url() }}" />
	<div id="project_page_name">Project {{project.name}} </div>
</div>
<div id="leftcolumn">
		{% if project.created_by == logged_user  %}
		<a href="{{request.base_url}}/edit_project" id="edit_project">Edit </a>
		{% endif %}

	<div id="proj_goal">
	Goal:	{{project.goal}}
	</div>

	<div class="created_by">
	Created by {{ display_user(project.created_by) }}
	</div>
</div>

<div class="centercolumn">
		{% for post in posts %}
			{{ display_post(post) }}
		{% endfor %}
</div>



{% endblock content %}