{% extends "user_page_base.html" %}

{% block profile_summary %}

<img id="profile_pic" src="{{user.get_profile_pic_medium_url()}}" />

<div id="user_profile_name"> {{user.get_full_name()}}</div>
<ul id="profile_details">
	{% if user.get_location() %}
<li><b>Lives in:</b> {{user.get_location()}}</li>
{% endif %}
{% if user.about %}
<li><b>About:</b>
 <br>{{user.about}}
</li>
{% endif %}

</ul>

{% endblock %}

{% block page_center %}

{% if not projects or projects.length == 0 %}

	<div style="margin-top:150px;">

	{% if current_user.id == user.id %}
		You have not created any projects yet. <a href='/create_project'>Create a new project. </a>
	{% else %}
		User has not created any projects yet.
	{% endif %}

	</div>


{% else %}
<h2 class="page_title" > Projects  </h2>
<table class="projects">
{% for project in projects %}
<tr>

<td class="project_name gray-back">
	<a href="{{project.get_url()}}"><h2>{{project.project_name}}</h2></a>
</a>
</td>
	<td class='small_pic gray-back'>
	{% if project.has_pic() %}
	 <a href="{{project.get_url()}}"><img  src="{{project.get_pic_url(size='small')}}" /></a>
	{% endif %}
	</td>

<td class="goal gray-back">
	<b>Goal:</b> {{project.goal}}
</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}