{% extends "user_page_base.html" %}

{% block profile_summary %}

<img id="profile_pic" src="{{user.get_profile_pic_medium_url()}}" />

<div id="user_profile_name"> {{user.get_full_name()}}</div>
<ul id="profile_details">
<li>Lives in: {{user.get_location()}}</li>

</ul>

{% endblock %}

{% block page_center %}

{% if projects.count() == 0 %}
User has not created any projects yet.
{% else %}
<div class="page_title" > Projects  </div>
<table class="projects">
{% for project in projects %}
<tr>
<td class="project_name">
	<a href="{{project.get_url()}}">
	{% if project.has_pic() %}
	<img  class="small" src="{{project.get_pic_url(size='medium')}}" /></a>
 <a href="{{project.get_url()}}"><h2 class="with_pic">
	{% else %}
	<h2>
	{% endif %}
	{{project.project_name}}</h2></a>
</a>
</td>
<td>
	 {{project.goal}}
</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}